.App {
  text-align: center;
}

.bigdiv {
  width: 100%;
  position: fixed;
  top:0;
  background-color: rgba(122, 122, 122, 0.5) !important;
}
  
.ndiv1 {
  z-index: 2;
}

.ndiv2 {
  z-index: 1;
}

.divrecomm {
  margin-top: 170px;
}