.navbar1 {
    top: 0;
    margin: 10px 0 10px 0;
    width:100%;
}

.navbar2 {
    text-align:center;
}

.navbar {
    margin: 10px 0 10px 0;
    width:100%;    
}

.input-group {
    height: 60px;
}

.form-control {
    width: 700px;
    height: 60px;
    font-size: 17px; 
    padding: 20px 20px 20px 30px;
}
.input-group-append .btn, .input-group-prepend .btn {
    font-size: 17px;
    padding: 10px 20px 10px 20px;
}

.input-group-append .btn{
    height: 60px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

a {
    color:black;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a.nav-link {
    margin: 0 5px 0 5px;
}