.p-3 {
    margin-top:170px !important;
}

.left {
    float: left;
    width:40%;
    margin-right: 0;
}

.right {
    float: right;
    width:60%;
    right:0;
}


.left .toast {
    max-width: 500px;
}

.right .toast {
    margin-left: 20px;
    max-width: 1000px;
}

table {
    width: 90%;
    margin: auto;
    text-align: center;
}
th {
    padding: 0 3px 0 3px;
}

