.forgotpw {
    float: right;
}

.connectsignup {
   text-align: center;
}

Button {
   float: center;
}

input.input1.form-control {
   height: 50px;
   width: 100%;
}

.lgform {
   margin-top: 170px;
}


.notice {
   border: 1px solid ;
}