.inlinecard {
    flex-direction: column;
    display: inline-block;
    margin-left: 10px;
}

.card-body {
    margin-top:10px;
    width: 100px;
    padding:0 0 10px 15px;
}

.card-img-top{
    height: 100px;
}

.react-multi-carousel-list {
    display: inline-block !important;
}

.btn1 {
    left:0px;
position: relative;
}